* { font-family: sans; }
table { border-collapse: collapse; font-size: 11pt; }
th { padding: .1em .2em; vertical-align: top; width: 1px; }
td { height: 1px; padding: 0; vertical-align: top; }
td > div { position: relative; }

.head { font-size: 15pt; }
.week { color: LightGray; font-size: 15pt; font-weight: bold; padding: 0 .1em; position: absolute; right: 0; z-index: -1; }
.day { border: 1px solid Gray; border-right: none; }
.weekend { background: LightGray; }
.mark { background: Gray; color: White; }
.events { border: 1px solid Gray; border-left: none; }
.event { padding: .1em .2em; }
.event:not(:last-child) { margin-bottom: 1px; }
.bg-gray { background: Gray; }
.bg-red { background: Tomato; }
.bg-orange { background: Orange; }
.bg-blue { background: DodgerBlue; }
.bg-green { background: MediumSeaGreen; }
.bg-violet { background: SlateBlue; color: White; }
.bg-pink { background: Violet; }

@media print { * { color-adjust: exact; -webkit-print-color-adjust: exact; } }